html, body {
    overflow: auto;
}

html {
	background-color: #2A3F54 !important;
}

body {
	background-color: #F7F7F7;
	min-height: 100vh;
	height: 100vh;
}

#appContainer {
	display: flex;
	flex-direction: 'row';
}

.flex {
	display: flex;
}

.flexCenterVertical {
	flex-direction: row;
	align-items: center;
}

.flexCenter {
	align-items: center;
	justify-content: center;
}

.flexApplySpaceMargin {	
}

.flexApplySpaceMargin > div, .flexApplySpaceMargin > span {
	margin-left: 8px;
	margin-right: 8px;
}

.flexApplySpaceMargin > div:first-child, .flexApplySpaceMargin > span:first-child {
	margin-left: 0px;
}

.flexApplySpaceMargin > div:last-child, .flexApplySpaceMargin > span:last-child {
	margin-right: 0px;
}